body {
    font-size: 15pt;
    height: 100vh;
}
#s,#ss{
  text-align: center;
}
button{
  display: flex;
  margin: auto;
  text-align: center;
  width: auto;
  height: 25px;
  background: black;
  border-radius:7px; 
  color: #fff;
  
}
